<div class="row">
    <div class="col-md-6 col-sm-10">
        <form [formGroup]="taxUserForm" (ngSubmit)="submit()">
            <div class="form-group" >
                <label for="name">Tax Officer Name</label>
                <input class="form-control" type="text" name=""
                placeholder="Enter name" id="name"
                formControlName="taxOfficerName">

                <div class="alert alert-danger"
                    *ngIf="taxUserForm.controls['taxOfficerName'].invalid &&
                    taxUserForm.controls['taxOfficerName'].touched">
                    Enter a correct officer name
                </div>

            </div>

            <div class="form-group" >
                <label>User Name</label>
                <input class="form-control" type="text"
                placeholder="Enter user name"
                formControlName="taxUserName">

                <div class="alert alert-danger"
                    *ngIf="taxUserForm.controls['taxUserName'].invalid &&
                    taxUserForm.controls['taxUserName'].touched">
                    Enter a correct name
                </div>
            </div>

            <div class="form-group" >
                <label>Tax User Email</label>
                <input class="form-control" type="email"
                placeholder="Enter e-mail"
                formControlName="taxUserEmail">

                <div class="alert alert-danger"
                    *ngIf="taxUserForm.controls['taxUserEmail'].invalid &&
                    taxUserForm.controls['taxUserEmail'].touched">
                    Enter a correct email
                </div>
            </div>

            <div class="form-group" >
                <label>Password</label>
                <input class="form-control" type="password"
                placeholder="Enter password"
                formControlName="taxUserPassword">
                
                <div class="alert alert-danger"
                    *ngIf="taxUserForm.controls['taxUserPassword'].invalid &&
                    taxUserForm.controls['taxUserPassword'].touched">
                    Enter a correct password
                </div>
            </div>

             <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>



