.dialog {
  width: 260px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: fixed;
  left: calc(50% - 125px);
  top: 100px;
}

.dialog p {
  text-align: center;
  color: black;
}

.right {
  margin-left: 80px;
}

.left {
  margin-left: 10px;
}
