<div class="row">
    <div class="col-md-6 col-sm-10">
        <form [formGroup]="addMerchantForm" (ngSubmit)="onAdd()">
            <div class="form-group" >
                <label>Merchant Name</label>
                <input class="form-control" type="text" name="merchantName" formControlName="merchantName" placeholder="Enter name">
                <p *ngIf="addMerchantForm.controls.merchantName.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>User Name</label>
                <input class="form-control" type="text" formControlName="username" placeholder="Enter user name">
                <p *ngIf="addMerchantForm.controls.username.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>Merchant Email</label>
                <input class="form-control" type="email" formControlName="email" placeholder="Enter e-mail">
                <p *ngIf="addMerchantForm.controls.email.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>Password</label>
                <input class="form-control" type="password" formControlName="password" placeholder="Enter password">
                <p *ngIf="addMerchantForm.controls.password.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>Address 1</label>
                <input class="form-control" type="text" formControlName="adressOne" placeholder="Enter adress">
                <p *ngIf="addMerchantForm.controls.adressOne.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>Address 2</label>
                <input class="form-control" type="text" formControlName="adressTwo" placeholder="Enter adress">
                <p *ngIf="addMerchantForm.controls.adressTwo.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>City</label>
                <input class="form-control" type="text" formControlName="city" placeholder="Enter city">
                <p *ngIf="addMerchantForm.controls.email.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>State</label>
                <input class="form-control" type="text" formControlName="state" placeholder="Enter state">
                <p *ngIf="addMerchantForm.controls.state.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>Postal ZIP</label>
                <input class="form-control" type="text" formControlName="postal" placeholder="Enter postal ZIP">
                <p *ngIf="addMerchantForm.controls.postal.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>Country</label>
                <input class="form-control" type="text" formControlName="country" placeholder="Enter country">
                <p *ngIf="addMerchantForm.controls.country.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>Phone Number</label>
                <input class="form-control" type="tel" formControlName="phone" placeholder="Enter phone number">
                <p *ngIf="addMerchantForm.controls.phone.errors">This field is required!</p>
            </div>

            <div class="form-group" >
                <label>VAT Number</label>
                <input class="form-control" type="text" formControlName="vat" placeholder="Enter VAT numer">
                <p *ngIf="addMerchantForm.controls.vat.errors">This field is required!</p>
            </div>
            
            <button type="submit" [disabled]="!addMerchantForm.valid" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>


